
body {
    background-color: rgb(255, 255, 255);
 font-family: "Bodoni Moda", serif;
}


p {
    color: rgb(6, 252, 19);
}


.cor {
 color: rgb(255, 166, 0);
}

#cornuca {
    color: rgb(255, 9, 255);

}
