
body {
    background-color: black;
 font-family: "Bodoni Moda", serif;
}


p {
    color: rgb(211, 29, 29);
}


.cor {
 color: rgb(255, 255, 255);
}

#cornuca {
    color: rgb(255, 0, 0);

}


