body {
    background-image: url("https://i.pinimg.com/736x/5e/9b/10/5e9b10d2eaa80e77a57aadd98b0f9ab3.jpg");
    font-family: "Oswald", sans-serif;
    background-size: cover;
    background-attachment: fixed;

}

p {
    color: rgb(21, 131, 31);
}


.cor {
    color: rgb(21, 131, 31);
}

#corunica {
    color:rgb(0, 183, 255)
   }

.cordolec {
    color:rgb(21, 131, 31)
}

.conteudo {
    display: flex;
    align-items: center; /* Texto na vertical */
    justify-content: center; /* Texto na horizontal */
    text-align: center; /* centraliza o texto */
    min-height: 180px; 
    padding:  16px; 
    border: 1px solid #ddd;
    background: #fafafa;

   }

   body{ 
   margin:0;

   }

   .logo img {
    width: 96px;
    height: auto
   }

   .site-header {
    width: 100%;
    box-sizing: border-box;
    padding: 10px e 32px;
    background: #ffffff;
    display: flex;
    box-shadow: 0 10px 24px rgba(0,0,0,0.08);
    /* corta o elemento para não ultrapassar o tamanho */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
   }

   .informacoes .aluno {
    font-size: 14px;
    color: gray;
    margin-bottom: 4px;

   }

   .informacoes .titulo-site {
    font-size: 18px;
    margin: 0;
    color: black
   }


   .site-nav a {
    color:rgb(110, 199, 92);
    text-decoration: none;
    font-weight: 600;
   }

   .site-nav a:hover {
   text-decoration:underline;
   }